[data-sonner-toast].toast-nudge-a {
	animation: toast-nudge-a 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) !important;
}
[data-sonner-toast].toast-nudge-b {
	animation: toast-nudge-b 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) !important;
}

@keyframes toast-nudge-a {
	0%,
	100% {
		translate: 0;
	}
	10% {
		translate: -4px;
	}
	25% {
		translate: 3px;
	}
	40% {
		translate: -2px;
	}
	55% {
		translate: 1.5px;
	}
	70% {
		translate: -0.75px;
	}
	85% {
		translate: 0.25px;
	}
}
@keyframes toast-nudge-b {
	0%,
	100% {
		translate: 0;
	}
	10% {
		translate: -4px;
	}
	25% {
		translate: 3px;
	}
	40% {
		translate: -2px;
	}
	55% {
		translate: 1.5px;
	}
	70% {
		translate: -0.75px;
	}
	85% {
		translate: 0.25px;
	}
}
